// colors

//light color - White
$light-color: #ffff;

// bright color - Yellow
$bright-color: #e9bb58;

// bright color - Orange
$bright-color-2: #f26419;

// dark color - Coffee
$dark-color: #3a3335;
